.hamburger {
  display: none;
  cursor: pointer;
}

.menuMobile {
  display: flex;
  text-align: center;
}

.textMenu {
  margin-right: 10px;
  color: var(--color-4);
}

.menuHamburguer {
  display: flex;
  padding: 0.2rem 0;
  border: none;
  background: none;
}

.menuHamburguerFechado {
  margin-top: 2px;
  width: 20px;
  height: 2px;
  background: var(--color-4);
}

.menuHamburguerFechado::before,
.menuHamburguerFechado::after {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  background: var(--color-4);
  position: relative;
  transition: 0.3s;
}

.menuHamburguerFechado::before {
  margin-top: 7px;
}

.menuHamburguerFechado::after {
  margin-top: 5px;
}

.menuHamburguerAberto {
  border-top: none;
  background: none;
}

.menuHamburguerAberto::before {
  transform: rotate(135deg);
}

.menuHamburguerAberto::after {
  transform: rotate(-135deg);
  top: -7px;
}

/* Responsivo: tablets / celulares */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .menuFechado {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 120px;
    right: 0;
    width: 100%;
    height: 0;
    background: var(--color-1);
    visibility: hidden;
    overflow-y: hidden;
    transition: 0.6s;
    z-index: 1;
  }

  .menuAberto {
    height: 80px;
    background: var(--color-1);
    visibility: visible;
    overflow-y: hidden;
  }
}

/* Ajuste adicional para telas menores */
@media (max-width: 480px) {
  .menuFechado {
    top: 100px;
  }

  .menuAberto {
    height: 120px;
  }
}
